Repository apa-developer/apa-ui: changes, and which Mergify rules are due for each by the changed paths.
All: Add label for React files, Add label for Svelte files, Add label for Markdown files, Add label for TypeScript files, Add label for JavaScript files

Add label for React files:
  label:
    add:
    - React

Add label for Svelte files:
  label:
    add:
    - Svelte

Add label for Markdown files:
  label:
    add:
    - Documentation

Add label for TypeScript files:
  label:
    add:
    - TypeScript

Add label for JavaScript files:
  label:
    add:
    - JavaScript

docs: update documentation and package metadata (#57)
  README.md
  package.json
  release.config.mjs
Due: Add label for Markdown files

chore: add ignore examples
  .gitignore
Due: none

chore: add ignore examples (#58)
  .gitignore
Due: none

feat: button fix
  components/react-ts/button.tsx
  components/react/button.jsx
Due: Add label for React files

feat: button fix (#59)
  components/react-ts/button.tsx
  components/react/button.jsx
Due: Add label for React files

Notes added by 'git notes add'
  0aced12c9ba5df3c0af874dd7977bc68a86da626
Due: none

feat: input react & react-ts component
  components/react/input.jsx
Due: Add label for React files

feat: input react & react-ts component (#60)
  components/react/input.jsx
Due: Add label for React files

Notes added by 'git notes add'
  9e6ac173e4b9db67a05b0582653b07277c6604fe
Due: none

feat: checkbox with refactor another component
  components/react-ts/checkbox.tsx
  components/react-ts/input.tsx
  components/react/button.jsx
  components/react/checkbox.jsx
  components/react/input.jsx
Due: Add label for React files

feat: checkbox with refactor another component (#61)
  components/react-ts/checkbox.tsx
  components/react-ts/input.tsx
  components/react/button.jsx
  components/react/checkbox.jsx
  components/react/input.jsx
Due: Add label for React files

Notes added by 'git notes add'
  0ae08a0da5773ee0cb6a8d8be14054da46fe79a2
Due: none

feat: radio component react & react-ts
  components/react-ts/radio.tsx
  components/react/radio.jsx
Due: Add label for React files

feat: textarea component react & react-ts
  components/react-ts/textarea.tsx
  components/react/textarea.jsx
Due: Add label for React files

React components radio and textarea (#62)
  components/react-ts/radio.tsx
  components/react-ts/textarea.tsx
  components/react/radio.jsx
  components/react/textarea.jsx
Due: Add label for React files

ci: remove main branch workflow file
  .github/workflows/main-on-push.yml
Due: none

ci(release): remove unnecessary files from release workflow to fix #53
  .github/workflows/branches-on-push.yml
Due: none

ci: remove unnecessary files from release workflow and delete redundant main branch workflow (#63)
  .github/workflows/branches-on-push.yml
  .github/workflows/main-on-push.yml
Due: none

ci: using `.gitignore` instead remove dev files in workflow
  .github/workflows/branches-on-push.yml
  .npmignore
Due: none

ci: using `.gitignore` instead remove dev files in workflow (#64)
  .github/workflows/branches-on-push.yml
  .npmignore
Due: none

fix: lint error
  components/react-ts/button.tsx
  components/react-ts/checkbox.tsx
  components/react-ts/input.tsx
  components/react-ts/radio.tsx
  components/react-ts/textarea.tsx
  components/react/button.jsx
  components/react/checkbox.jsx
  components/react/input.jsx
  components/react/radio.jsx
  components/react/textarea.jsx
Due: Add label for React files

ci: add linting step to branches-on-push workflow
  .github/workflows/branches-on-push.yml
Due: none

fix: lint error (#65)
  .github/workflows/branches-on-push.yml
  components/react-ts/button.tsx
  components/react-ts/checkbox.tsx
  components/react-ts/input.tsx
  components/react-ts/radio.tsx
  components/react-ts/textarea.tsx
  components/react/button.jsx
  components/react/checkbox.jsx
  components/react/input.jsx
  components/react/radio.jsx
  components/react/textarea.jsx
Due: Add label for React files

Notes added by 'git notes add'
  aec15bed837d48173e6e32a86aab3d0b7d3bb46c
Due: none

ci: add commitlint validation for PRs and last commit, remove old workflow
  .github/workflows/branches-on-pr.yml
  .github/workflows/branches-on-push.yml
  .github/workflows/commitlint.yml
Due: none

ci: update checkout step to use fetch-depth 0 in workflows
  .github/workflows/branches-on-pr.yml
  .github/workflows/branches-on-push.yml
Due: none

ci: add commitlint validation for PRs and last commit, remove old workflow (#66)
  .github/workflows/branches-on-pr.yml
  .github/workflows/branches-on-push.yml
  .github/workflows/commitlint.yml
Due: none

feat: adjusting the import utils according to apa.config.json; closes #49
  src/commands/add.ts
  src/commands/init.ts
  src/utils/replace-line.ts
Due: Add label for TypeScript files

feat: adjusting the import utils according to apa.config.json; closes #49 (#67)
  src/commands/add.ts
  src/commands/init.ts
  src/utils/replace-line.ts
Due: Add label for TypeScript files

Notes added by 'git notes add'
  b564d67ff9c3cfd750094baa292ce38421b4d52a
Due: none

docs: create usage documentation
  README.md
Due: Add label for Markdown files

docs: create usage documentation (#69)
  README.md
Due: Add label for Markdown files

feat(command): restyle table
  bun.lockb
  package.json
  src/commands/list.ts
Due: Add label for TypeScript files

feat(command): automatically install dependencies for utils if not already installed; resolve #50
  package.json
  src/commands/init.ts
  src/utils/install-dependencies.ts
Due: Add label for TypeScript files

feat(command): restyle table (#70)
  bun.lockb
  package.json
  src/commands/list.ts
Due: Add label for TypeScript files

feat(command): automatically install dependencies for utils if not already installed; resolve #50 (#71)
  package.json
  src/commands/init.ts
  src/utils/install-dependencies.ts
Due: Add label for TypeScript files

feat(react): add 'select' component
  components/react-ts/select.tsx
  package-lock.json
  package.json
Due: Add label for React files

feat(react): add 'select' component (#73)
  components/react-ts/select.tsx
  package-lock.json
  package.json
Due: Add label for React files

Notes added by 'git notes add'
  72253c535fbb60222975a6736db7ed7fd4c48933
Due: none

fix: init command not copied utils files
  .gitignore
  bun.lockb
  package-lock.json
  package.json
  src/commands/init.ts
Due: Add label for TypeScript files

Path conditions:
  Add label for React files: any of: \.(jsx|tsx)$
  Add label for Svelte files: any of: \.svelte$
  Add label for Markdown files: any of: \.md$
  Add label for TypeScript files: any of: \.ts$
  Add label for JavaScript files: any of: \.js$
